################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PptExcelSync/FileContentIndex/1a84d1ab-5276-46a3-94b3-0dd4620a14be.vsidx
/.vs/PptExcelSync/FileContentIndex/30db7803-4ee8-45a3-8328-cc06353546d3.vsidx
/.vs/PptExcelSync/FileContentIndex/81431245-0a50-4f0d-8c9d-3a54974ac499.vsidx
/.vs/PptExcelSync/FileContentIndex/af712eba-e5ab-4473-a2a1-7a995aec6efb.vsidx
